; {{ ansible_managed }}

{% for transport in icingaweb2_monitoring_transports %}
[{{ transport.name }}]
transport = "{{ transport.transport | default('local') }}"
path = "{{ transport.path }}"
{% if transport.transport | default('local') == 'remote' %}
host = "{{ transport.host }}"
port = "{{ transport.port | default('22') }}"
user = "{{ transport.user }}"
{% endif %}

{% endfor %}
